<div class="info-block">
    <h1 class="info-header">Готовые к отправке</h1>
    <span class="item-counter">{{ waitingForSendCount }}</span>
    <md-spinner *ngIf="isParsingFiles()"></md-spinner>
    <div class="info"> {{ waitingForSend }} </div>
</div>

<div class="info-block">
    <h1 class="info-header">Отправленные</h1>
    <span class="item-counter">{{waitingForResponse.length}}</span>

    <div class="info" *ngIf="waitingForResponse.length == 0">Нет записей</div>

    <div *ngFor="let item of waitingForResponse">
        <div class="info-wait-for-send"> {{item}} </div>
    </div>
</div>


