<header >
    <h1>Почтовые <strong>отправления</strong></h1>
    <a href="#">
        <span>Выход</span>
    </a>
</header>

<md-progress-bar *ngIf="queriesComponent.loading" mode="indeterminate"></md-progress-bar>


<div class="wrapper">

    <div class="container left-container">
            <gibdd-queries
                    (filesUploaded)="responses.uploadCompleted()">
            </gibdd-queries>
    </div>

    <div class="container right-container">
        <post-responses #responses></post-responses>
    </div>
</div>